<launch>
    <node name="pcd_to_pointcloud" pkg="pcl_ros" type="pcd_to_pointcloud" args="/home/lucky/solab_ws/src/zed-ros-examples/examples/zed_rtabmap_example/launch/rtabmap.pcd" />
    <node pkg="tf" type="static_transform_publisher" name="tf_tmp" args="0 0 0 0 0 0 -1 /map /base_link 100 "/>
</launch>