<?xml version="1.0"?>
<!--
Copyright (c) 2018, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<launch>
    <arg name="viz"                   default="false"/>
    <arg name="use_hokuyo"                      default="true"/>
    <arg name="use_velodyne"                      default="false"/>
    <arg name="bag_file"                      default="false"/>
    <arg name="localization"                    default="true"/>
    <arg name="robot_name"                    default="car1"/>
    
    <arg name="file_name"                        default="multi_zed_two"/>
    <arg name="svo_file"                        default="$(find zed_rtabmap_example)/rosbag/$(arg file_name).svo" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->

    <arg name="zed_node_name"                   default="zed_node" />
    <arg name="camera_model"                    default="zed2" /> <!-- 'zed' or 'zedm' or 'zed2' -->
    <arg name="publish_urdf"                    default="true" />
    
    <!--For zed description -->
    <!-- Base frame -->
    <arg name="camera_name"           default="zed" />
    <arg name="base_frame"            default="/$(arg robot_name)/base_link" />
    <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_pos_x"             default="0.205" />
    <arg name="cam_pos_y"             default="0.0" />
    <arg name="cam_pos_z"             default="0.0" />

    <!-- Orientation respect to base frame (i.e. "base_link) -->
    <arg name="cam_roll"              default="0.0" />
    <arg name="cam_pitch"             default="0.0" />
    <arg name="cam_yaw"               default="0.0" />
    
    <!--param name="tf_prefix" value="car1" /-->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/> 
    <group ns="$(arg robot_name)">
        <!-- ZED Wrapper Node-->
        <!--group if="$(arg bag_file)">
            <param name="zed_description"
            command="$(find xacro)/xacro '$(find zed_wrapper)/urdf/zed_descr.urdf.xacro'
                     camera_name:=$(arg camera_name)
                     camera_model:=$(arg camera_model)
                     base_frame:=$(arg base_frame)
                     cam_pos_x:=$(arg cam_pos_x)
                     cam_pos_y:=$(arg cam_pos_y)
                     cam_pos_z:=$(arg cam_pos_z)
                     cam_roll:=$(arg cam_roll)
                     cam_pitch:=$(arg cam_pitch)
                     cam_yaw:=$(arg cam_yaw)"
            />
            <node name="zed_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true">
                <remap from="robot_description" to="zed_description" />
            </node>
            <include file="$(find zed_rtabmap_example)/launch/rosbag_play.launch"/>
        </group-->
        <group if="$(arg bag_file)">
            <!--include file="$(find zed_wrapper)/launch/zed_camera.launch"-->
            <include file="$(find zed_wrapper)/launch/include/zed_camera.launch.xml">
                <arg name="svo_file"            value="$(arg svo_file)" />
                <arg name="node_name"           value="$(arg zed_node_name)" />
                <arg name="camera_model"        value="$(arg camera_model)" />
		<arg name="publish_urdf"        value="$(arg publish_urdf)" />
		<arg name="robot_name"        value="$(arg robot_name)" />

            </include>
            <!--Play 3D lidar rosbag -->
            <!--include file="$(find zed_rtabmap_example)/launch/rosbag_play.launch"/-->
        </group>
        <group unless="$(arg bag_file)">
            <include file="$(find zed_wrapper)/launch/$(arg camera_model).launch">
		<arg name="robot_name"        value="$(arg robot_name)" />
                <arg name="svo_file"            value="" />
                <arg name="node_name"           value="$(arg zed_node_name)" />
                <arg name="camera_model"        value="$(arg camera_model)" />
		<arg name="publish_urdf"        value="$(arg publish_urdf)" />
                <!-- Position respect to base frame (i.e. "base_link) -->
                <arg name="cam_pos_x"           value="$(arg cam_pos_x)" />
                <arg name="cam_pos_y"           value="$(arg cam_pos_y)" />
                <arg name="cam_pos_z"           value="$(arg cam_pos_z)" />

                <!-- Orientation respect to base frame (i.e. "base_link) -->
                <arg name="cam_roll"            value="$(arg cam_roll)" />
                <arg name="cam_pitch"           value="$(arg cam_pitch)" />
                <arg name="cam_yaw"             value="$(arg cam_yaw)" />

                <!--Localization need no map->odom from zed itself -->
                <arg if="$(arg localization)" name="publish_map_tf" value="false"/> 
            </include>
        </group>
    <!-- RTAB-Map -->
        <arg name="custom_rtabmap_launch_file" default="$(find zed_rtabmap_example)/launch/include/sl_rtabmap.launch.xml"/>
        <include file="$(arg custom_rtabmap_launch_file)">
            <arg name="odom_topic"              default="zed2/zed_node/odom" />
            <arg name="rgb_topic"               default="zed2/zed_node/rgb/image_rect_color" />
            <arg name="depth_topic"             default="zed2/zed_node/depth/depth_registered" />
            <arg name="camera_info_topic"       default="zed2/zed_node/rgb/camera_info" />
            <arg name="depth_camera_info_topic" default="zed2/zed_node/depth/camera_info" />
            <arg name="localization" default="$(arg localization)" />
            <arg name="viz" default="$(arg viz)" />
            <arg name="use_hokuyo" default="$(arg use_hokuyo)" />
            <arg name="use_velodyne" default="$(arg use_velodyne)"/>
	    <arg name="robot_name" value="$(arg robot_name)"/>
        </include>
        <!-- Ken yu invoke 2d lidar and static tf-->
        <group if="$(arg use_hokuyo)">
	    <include file="$(find zed_rtabmap_example)/launch/include/multi_laser.launch.xml">
	        <arg name="robot_name" value="$(arg robot_name)"/>
	    </include>		
        </group>
    </group>
</launch>
